.product-detailed {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.breadcrumb-nav {
    margin: 4rem 0 0rem;
}

.breadcrumb-nav__item {
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: transparent;
    cursor: pointer;
    color: var(--text);    
}

.breadcrumb-nav__item:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    .breadcrumb-nav {
        margin: 2rem 0 -2rem 1rem;
    }
}