.btn {
    display: flex;
    box-sizing: border-box;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: center;  
    font-size: 0.85rem; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;   
    color: var(--white);
    background: var(--accent);
}

.btn:hover {
    background: var(--accent-light);
}