.btn {
    display: flex;
    box-sizing: border-box;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: center;  
    font-size: 0.85rem; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;   
    transition: 0.3s all ease-in-out;
    color: var(--white);
    background: var(--accent);
}

.btn:hover {
    background: var(--accent-light);
}

.btn--color_black {
    background: var(--black);
}

.btn--color_black:hover {
    background: #3e3939;
}

.btn--color_transparent {
    background: transparent;
    font-weight: normal;
    border: 1px solid var(--black);
    color: var(--black);
}

.btn--color_transparent:hover {
    color: var(--white);
    background: var(--black);
}