<div class="navbar-container">

    <button class="btn btn-menu" (click)="showMenu()">
        <img src="assets/images/shared/tablet/icon-hamburger.svg" alt="Menu" [ngClass]="btnHamburguerIconClassList">
    </button>

    <a routerLink="/" class="nav-logo">
        <img src="assets/images/shared/desktop/logo.svg" alt="Logo" class="nav-logo__icon">
    </a>

    <ul class="nav-links-container">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="nav-item__link--active" [routerLinkActiveOptions]="linkActiveOption"
                class="nav-item__link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/headphones" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">
                Headphones
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/speakers" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">
                Speakers
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/earphones" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">
                Earphones
            </a>
        </li>
    </ul>

    <div [ngClass]="modalClassList">
        <ul class="nav-mobile">
            <app-category-nav 
            [categoryContainerClassList]="['category-container','category-container--opacity_1']"
            [ngsRevealOptions]="{delay:0, duration:0, easing: 'ease-in-out'}"
            (changeCategory)="hideModal()">                
            </app-category-nav>
        </ul>
    </div>

    <button class="btn btn-car">
        <img src="assets/images/shared/desktop/icon-cart.svg" alt="Car shop icon" class="btn-car__icon">
    </button>

</div>