<div class="mission">    
    <div class="mission-description" [ngsReveal]="{ delay:1000, duration:1000, easing: 'ease-in-out'}">
        <h3 class="mission-description__title">
            Bringing you the <span class="mission-description__keyword">best</span> audio gear
        </h3>
        <p class="mission-description__description">
            Located at the heart of New York City, Audiophile is the premier store for high end headphones, 
            earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms 
            available for you to browse and experience a wide range of our products. Stop by our store to meet 
            some of the fantastic people who make Audiophile the best place to buy your portable audio equipment
        </p>
    </div>
    <img src="assets/images/shared/desktop/image-best-gear.jpg" alt="Mission image"
     class="mission__image"
     [ngsReveal]="{ delay:700, duration:1000, easing: 'ease-in-out'}"
     >
</div>
