<div class="footer-container" [ngsReveal]="{delay:500, duration:1000, easing: 'ease-in-out'}">
    <a routerLink="/" class="nav-logo">
        <img src="assets/images/shared/desktop/logo.svg" alt="Logo" class="nav-logo__icon">
    </a>

    <ul class="nav-links-container">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="nav-item__link--active" 
            [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/headphones" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">Headphones</a>
        </li>
        <li class="nav-item">
            <a routerLink="/speakers" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">Speakers</a>
        </li>
        <li class="nav-item">
            <a routerLink="/earphones" routerLinkActive="nav-item__link--active"
                [routerLinkActiveOptions]="linkActiveOption" class="nav-item__link">Earphones</a>
        </li>
    </ul>

    <p class="about">
        Audiophile is an all in one stop to filfull your audio needs. we're a small team of music lovers and
        sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our
        demo facility - we're open 7 days a week.
    </p>

    <ul class="social">
        <li class="social-network">
            <a routerLink="/" class="social-network__link">
                <img src="assets/images/shared/desktop/icon-facebook.svg" alt="Facebook" class="social-network__icon">
            </a>
        </li>
        <li class="social-network">
            <a routerLink="/" class="social-network__link">
                <img src="assets/images/shared/desktop/icon-twitter.svg" alt="Twitter" class="social-network__icon">
            </a>
        </li>
        <li class="social-network">
            <a routerLink="/" class="social-network__link">
                <img src="assets/images/shared/desktop/icon-instagram.svg" alt="Instagram" class="social-network__icon">
            </a>
        </li>
    </ul>

    <p class="copyright">
        <small>Copyright 2022. All rights reserved</small>
    </p>
</div>