<div class="header-container">
    <header class="product-ad">

        <div class="product-ad-image">
        </div>

        <div class="product-ad-description">
            <p class="product-ad__ad-text">new product</p>
            <h1 class="product-ad__title">XX99 Mark II Headphones</h1>
            <p class="product-ad__description">
                Experience natural, lifelike audio and exceptional build quality made
                for the passionate music enthusiast.
            </p>
            <app-button-link></app-button-link>
        </div>

    </header>
</div>

<main class="main-container">
    <app-category-nav></app-category-nav>
    <app-main-products-grid></app-main-products-grid>
    <app-mission></app-mission>
</main>