/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap');

:root {
    /* COLORS */
    --bg: #fafafa;
    --accent: #d87d4a;
    --accent-light: #fbaf85;
    --gray: #f1f1f1;
    --light-gray: #d3d3d3;
    --white: #fff;
    --black: #191919;
    --text: rgba(0, 0, 0, 0.5);
    --text-light: rgba(255, 255, 255, 0.5);
    --divider: rgba(255, 255, 255, 0.1);
    --placeholder: rgba(0, 0, 0, .4);
    --input-border: #CFCFCF;
    --input-error: #CD2C2C;

    /* FONTS */
    --primary-font-family: 'Manrope', sans-serif;

    /* LAYOUT 
    These variables are only informative, css does not support variables in media queries. 
    So they are not used anywhere.*/
    --ly-md: 768px;
    --ly-lg: 1200px;
    --ly-xlg: 1400px;
}


body {
    font-family: 'Manrope';
    margin: 0;
    color: var(--text);
    background: var(--bg);
}


.body-container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}


@media screen and (max-width: 1200px) {

    .body-container {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {

    .body-container {
        width: 100%;
    }
}